body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.column {
    float: left;
    padding: 30px;
    height: 700px;

    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#right-column {
    background-color: #93b5b55b;
    width: 70%;


}

#left-column {
    background-color: #3b5f6d;
    color: #fff;
    width: 30%;
}

#left-column a {
    color: #fff;
    margin: 0;
}

.about-me {
    border-bottom: 1px solid #fff;
}

.links {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;

}

.hobbies {}

.name {
    font-family: "Prompt",
        sans-serif;
    margin: 0;
}

.prompt-semibold {
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}