body {
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 80%;
    height: fit-content;
    display: block;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.row {
    display: flex;
}

.column {
    float: left;
    padding: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

#right-column {
    background-color: #93b5b55b;
    width: 70%;
    padding-bottom: 80px;
}

#left-column {
    background-color: #3b5f6d;
    color: #fff;
    width: 30%;
}

#left-column a {
    color: #fff;
    margin: 0;
}

.about-me {
    border-bottom: 1px solid #fff;
    font-size: 14px;
    line-height: 1.5;
}

.about-me h3 {
    font-size: 24px;
    font-weight: bold;
}

.about-me p {
    font-size: 22px;
}

.link-container {
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-top: 30px;

}


.certificate {
    padding-bottom: 20px;
    margin-top: 30px;
}

.certificate ul li,
.hobby ul li {
    line-height: 2rem;
    font-size: 22px;
}

.links {
    margin: 20px;
    line-height: 1.5;
    font-size: 24px;
}


.hobby {
    margin-top: 30px;
    border-top: 1px solid #fff;
}

.hobbies,
.link-title,
.certificates {
    line-height: 1.5;
    font-size: 23px;
    font-weight: bold;
}

.link-name {
    margin: 0;
}


.name {
    margin: 0;
    color: rgba(23, 37, 66, 0.8);
    font-size: 40px;
}

.job-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(23, 37, 66, 0.7);
    margin-top: 0;
    /* color: #284049; */
    padding-top: 20px;
}


li a {
    text-decoration: none;
}

li a:hover {
    background-color: rgb(125, 181, 199);
}


.header {
    font-family: "Prompt", sans-serif;
    font-size: 25px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 30px;
    margin-right: 40px;
}

.location {
    border-bottom: 1px solid #3b5f6d;
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid rgba(59, 95, 109, 0.4);

}

.phone {
    margin: 0;
    padding: 5px;
    border-bottom: 1px solid rgba(59, 95, 109, 0.4);

}

.email {
    margin: 0;
}

.work-experience {
    border-bottom: 2px solid rgba(59, 95, 109, 0.4);
    line-height: 1.5;
    font-weight: 800;
    font-size: 26px;
}


.list {
    padding: 0;
    list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");

}

.items {
    margin-left: 10px;
    /* border: 1px solid rgba(59, 95, 109, 0.3); */
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.job_info {
    display: grid;
    grid-template-columns: 3fr 0.5fr 3fr;
    align-items: first baseline;
}


.job_info_header {
    font-size: 26px;
    font-weight: 600;
    margin: 0;
    padding: 10px;

}

.years {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 10px 10px 10px;
}

.date {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.content {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;

}

.gap {
    width: 50px;
}

.skills-languages {
    display: flex;
    justify-content: space-around;
}

.all_skills {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2px;

}


.skill_bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 4px;
    width: 80%;
    height: 10px;
    background-color: rgba(134, 130, 132, 0.35);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.skill_bar_percent {
    display: flex;
    flex-direction: row;
    /*flex-grow: 1;
    */
    width: 50px;
    height: 80%;
    background-color: rgba(110, 106, 108, 0.81);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#html {
    width: 100%;
}

#css {
    width: 100%;
}

#javascript {
    width: 70%;
}

#react {
    width: 30%;
}

#responsive {
    width: 80%;
}

#aiApi {
    width: 70%;
}

#english {
    width: 100%;
}

#german {
    width: 20%;
}